<!DOCTYPE html>
<html>
<head>
    <title>Flask UI</title>
    <link rel="stylesheet" href="https://cdn.plot.ly/plotly-latest.min.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div>
        <div id="candlestick-chart"></div>
    </div>
    <div>
        <div id="pie-chart"></div>
    </div>

    <script>
        var candlestickData = {{ candlestick_data|safe }};
        var pieChartData = {{ pie_chart_data|safe }};

        // Create the candlestick chart
        var candlestickLayout = {
        };
        Plotly.newPlot('candlestick-chart', candlestickData, candlestickLayout);

        var pieChartLayout = {

        };
        Plotly.newPlot('pie-chart', pieChartData, pieChartLayout);
    </script>
</body>
</html>